@import "tailwindcss";
@plugin "@tailwindcss/typography";
@config "../tailwind.config.js";

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}