@import "tailwindcss";
@import "./hljs.css";
@import "./hljs-dark.css";

@plugin "@tailwindcss/typography";
@config "../tailwind.config.js";



* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-synthesis: none !important;
}