@import "tailwindcss";
@import url("hljs.css") screen and (prefers-color-scheme: light);
@import url("hljs-dark.css") screen and (prefers-color-scheme: dark);

@plugin "@tailwindcss/typography";
@config "../tailwind.config.js";

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-synthesis: none !important;
}